body {
    color: cadetblue;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

header {
    margin: 1rem;
    font-size: xx-large;
    color: indianred;
}

button {
    font-size: medium;
    font-weight:bold;
    border: 2px solid cadetblue;
    border-radius: 3px;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    color: cadetblue;
}

#roundBox {
    display: flex;
    flex-direction: column;
    border: 2px solid cadetblue;
    border-radius: 3px;
    padding: 1rem;
    row-gap: 20rem;
}

#roundBox > div,
#roundResult > div {
    margin: 1rem;
}

#duelBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.duelHand {
    flex: 1;
    border: 2px solid cadetblue;
    border-radius: 3px;
    margin: 0.5rem 1rem;
    padding: 1rem;
}

#gameEnding {
    border: 3px solid pink;
    border-radius: 5px;
    color: indianred;
    padding: 1rem;
}

.largeFont {
    font-size: x-large;
}







